openapi: 3.0.3
info:
  title: FreiKI / KorKI API
  description: |
    **FreiKI** ist ein lokal gehosteter, datenschutzfreundlicher KI-Assistent mit Dokumentenanalyse, RAG, Chat und Integrationen.
    Abgeleitete Instanzen (z. B. **KorKI**) nutzen dieselbe API-Oberfläche.

    ### Authentifizierung
    - **Session-Cookie** `freiki_session` (Browser) oder **JWT** (`Authorization: Bearer …`).
    - **Login**: `POST /api/login` setzt Cookie und liefert Token im Body; bei 2FA folgt `POST /api/login/verify-2fa`.
    - **Bot/Automation**: Header `X-API-Key` (= `BOT_API_KEY`) für `/api/bot-chat` und `/api/bot/sicherheitslage`.

    ### Basis-URL
    - **Lokal**: http://localhost:3000
    - **KorKI**: https://assi.diakonie-kork-ki.de
    - Swagger UI selbst nur über Tailscale (nicht öffentlich über Caddy).

    ### Features
    - **Chat**: KI-gestützte Konversationen mit verschiedenen Modi (z. B. Leichte Sprache, Zusammenfassen).
    - **Dokumentenanalyse**: PDF, DOCX, Bilder (OCR), Audio (Transkription).
    - **Wissensdatenbank (RAG)**: Semantische Suche in hinterlegten Dokumenten.
    - **Formulare**: Vorausgefüllte PDF-Formulare per Chat-Dialog (Vorlagen-Verwaltung + Ausfüll-Flow).
    - **Scanner**: QR-/Barcode-Scanner mit KI-gestützten Folgeaktionen und Produkt-Lookup.
    - **Barrierefreiheit**: Leichte Sprache mit Piktogramm-Illustration (ARASAAC).
    - **Excel-Analyse**: Dynamische Abfragen auf Excel-Dateien via MCP.
    - **Integration**: Mattermost, Paperless-ngx, SearXNG (Web-Suche), ARASAAC-Piktogramme.

  version: 1.2.0
  contact:
    name: FreiKI Support
  license:
    name: AGPL-3.0-or-later
    url: https://www.gnu.org/licenses/agpl-3.0.html

servers:
  - url: https://assi.diakonie-kork-ki.de
    description: KorKI (Diakonie Kork)
  - url: http://localhost:3000
    description: Lokale Entwicklungsumgebung
  - url: https://freiki.example.de
    description: Platzhalter eigene Instanz

tags:
  - name: Authentifizierung
    description: Login, Token-Verwaltung und Benutzerdaten
  - name: Chat
    description: KI-Chat, Modi und Historie
  - name: Dokumentenanalyse
    description: Upload, OCR, RAG und Wissensbereiche
  - name: Formulare
    description: Vorausgefüllte PDF-Formulare per Chat-Dialog (Vorlagen-Verwaltung und Ausfüll-Flow)
  - name: Scanner
    description: QR-/Barcode-Scanner mit KI-gestützten Folgeaktionen und Produkt-Lookup
  - name: Barrierefreiheit
    description: Leichte Sprache mit Piktogramm-Illustration (ARASAAC)
  - name: Excel
    description: Excel-Dateien analysieren und abfragen
  - name: Sprachfunktionen
    description: Transkription (Audio zu Text) und Text-to-Speech
  - name: Integration
    description: Paperless-ngx, Mattermost, SearXNG
  - name: Verwaltung
    description: Admin-Funktionen (Benutzer, Konfiguration, Statistiken)
  - name: System
    description: Health-Checks, Tips, Branding

paths:
  /api/login:
    post:
      tags:
        - Authentifizierung
      summary: Anmeldung
      description: |
        Meldet einen Benutzer an. Bei Erfolg (ohne aktive 2FA) wird das JWT als HttpOnly-Cookie
        (freiki_session) gesetzt UND im Response-Body zurückgegeben (siehe cookieAuth/bearerAuth).
        Ist für den Account 2FA aktiv, liefert die Antwort stattdessen requires2fa + pendingToken;
        der eigentliche Login schließt erst POST /api/login/verify-2fa ab.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                  example: max.mustermann
                password:
                  type: string
                  format: password
                  example: sicheresPasswort123!
      responses:
        "200":
          description: Erfolgreiche Anmeldung, oder 2FA-Code angefordert (requires2fa)
          headers:
            Set-Cookie:
              schema:
                type: string
                example: freiki_session=eyJhbG...; HttpOnly; SameSite=Lax; Path=/
              description: Nur gesetzt, wenn requires2fa fehlt (siehe Schema)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/LoginSuccess"
                  - $ref: "#/components/schemas/LoginRequires2fa"
        "401":
          description: Ungültige Anmeldedaten
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Zu viele Login-Versuche (Rate-Limit 5 pro 15 Min)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/login/verify-2fa:
    post:
      tags:
        - Authentifizierung
      summary: 2FA-Code bestätigen (zweiter Login-Schritt)
      description: |
        Schließt den Login ab, wenn /api/login zuvor requires2fa gemeldet hat. Akzeptiert einen
        TOTP-Code oder einen Backup-Code. Setzt bei Erfolg dasselbe freiki_session-Cookie wie
        /api/login.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pendingToken
                - code
              properties:
                pendingToken:
                  type: string
                  description: Aus der requires2fa-Antwort von /api/login (5 Min gültig)
                code:
                  type: string
                  example: "123456"
      responses:
        "200":
          description: Login abgeschlossen
          headers:
            Set-Cookie:
              schema:
                type: string
                example: freiki_session=eyJhbG...; HttpOnly; SameSite=Lax; Path=/
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginSuccess"
        "400":
          description: Code fehlt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Ungültiger Code oder abgelaufener pendingToken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/webauthn/login/options:
    post:
      tags:
        - Authentifizierung
      summary: Passkey-Login-Optionen anfordern (zweiter Login-Schritt)
      description: |
        Alternative zum TOTP-Code im zweiten Login-Schritt bei aktivem 2FA - gleicher
        pendingToken wie /api/login/verify-2fa. Liefert WebAuthn-Challenge/Optionen für
        navigator.credentials.get(). Bewusst ohne Rate-Limit: eine WebAuthn-Antwort ist eine
        kryptografische Signatur, nicht erratbar wie ein Code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pendingToken
              properties:
                pendingToken:
                  type: string
                  description: Aus der requires2fa-Antwort von /api/login
      responses:
        "200":
          description: WebAuthn-Authentifizierungsoptionen (PublicKeyCredentialRequestOptions)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Ungültige Anfrage oder pendingToken abgelaufen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/webauthn/login/verify:
    post:
      tags:
        - Authentifizierung
      summary: Passkey-Login bestätigen (zweiter Login-Schritt)
      description: Prüft die WebAuthn-Antwort gegen die zuvor per /api/webauthn/login/options erzeugte Challenge und schließt den Login ab. Setzt dasselbe freiki_session-Cookie wie /api/login/verify-2fa.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pendingToken
                - response
              properties:
                pendingToken:
                  type: string
                response:
                  type: object
                  description: Vom Browser erzeugte AuthenticationResponseJSON (navigator.credentials.get())
                  additionalProperties: true
      responses:
        "200":
          description: Login abgeschlossen
          headers:
            Set-Cookie:
              schema:
                type: string
                example: freiki_session=eyJhbG...; HttpOnly; SameSite=Lax; Path=/
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginSuccess"
        "400":
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Passkey-Anmeldung fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/forgot-password:
    post:
      tags:
        - Authentifizierung
      summary: Passwort-Reset per E-Mail anfordern
      description: |
        Öffentliches Formular (public/forgot-password.html), ohne Session-Prüfung. Antwort ist
        absichtlich IMMER {ok:true} - unabhängig davon, ob die E-Mail existiert - damit sich
        darüber nicht erraten lässt, welche Adressen registriert sind. Existiert ein Konto,
        wird ein Einmal-Token (1h gültig, nur als SHA-256-Hash gespeichert) erzeugt und ein
        Reset-Link per Mail verschickt. Rate-limitiert (10/h).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  example: max@example.com
      responses:
        "200":
          description: Immer {ok:true}, unabhängig davon ob die E-Mail existiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: Keine gültige E-Mail-Adresse übergeben
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Zu viele Anfragen (Rate-Limit 10 pro Stunde)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/reset-password:
    post:
      tags:
        - Authentifizierung
      summary: Neues Passwort mit Reset-Token setzen
      description: Nimmt den per E-Mail verschickten Token entgegen (siehe /api/forgot-password) und setzt ein neues Passwort. Der Token ist nach Verwendung oder nach 1 Stunde ungültig.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - newPassword
              properties:
                token:
                  type: string
                newPassword:
                  type: string
                  format: password
                  minLength: 8
      responses:
        "200":
          description: Passwort erfolgreich geändert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: Ungültiger/abgelaufener Link oder Passwort zu kurz
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Zu viele Anfragen (Rate-Limit 10 pro Stunde)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/register:
    post:
      tags:
        - Authentifizierung
      summary: Selbstregistrierung (Zugang beantragen)
      description: |
        Öffentliches Anmeldeformular (public/register.html), nur aktiv wenn
        APP_SELF_REGISTRATION=true. Legt einen gesperrten Nutzer an (pending_approval); der
        Benutzername wird serverseitig aus Vor-/Nachname generiert, nicht abgefragt. Admins
        werden per Mail benachrichtigt und schalten über /api/admin/registrations frei.
        Rate-limitiert (5 pro Stunde).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - first_name
                - last_name
                - funktion
                - telefon
                - email
                - dienststelle
              properties:
                first_name:
                  type: string
                  example: Max
                last_name:
                  type: string
                  example: Mustermann
                funktion:
                  type: string
                  example: Sozialarbeiter
                telefon:
                  type: string
                  example: "0123 456789"
                email:
                  type: string
                  format: email
                dienststelle:
                  type: string
                  example: Wohnverbund Nord
                language:
                  type: string
                  description: Freitext, wird per LLM auf ein deutsches Sprach-Adjektiv normalisiert; leer/nicht erkannt fällt auf Deutsch zurück
                  example: englisch
      responses:
        "200":
          description: Registrierungsanfrage angelegt
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  username:
                    type: string
                    description: Serverseitig generierter Benutzername (noch gesperrt bis zur Freischaltung)
                    example: mmustermann
        "400":
          description: Pflichtfeld fehlt oder ungültige E-Mail-Adresse
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Zu viele Registrierungsversuche (Rate-Limit 5 pro Stunde)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/logout:
    post:
      tags:
        - Authentifizierung
      summary: Abmelden
      description: Löscht das freiki_session-Cookie serverseitig.
      responses:
        "200":
          description: Abgemeldet
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true

  /api/2fa/setup:
    post:
      tags:
        - Authentifizierung
      summary: 2FA-Einrichtung starten
      description: Erzeugt ein neues TOTP-Secret + QR-Code für den eingeloggten Nutzer.
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Secret + QR-Code zum Scannen
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string
                    example: JBSWY3DPEHPK3PXP
                  qrCode:
                    type: string
                    description: Data-URL (PNG) des QR-Codes
        "401":
          description: Nicht angemeldet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/2fa/confirm:
    post:
      tags:
        - Authentifizierung
      summary: 2FA-Einrichtung bestätigen
      description: Schließt die 2FA-Einrichtung ab und liefert einmalig die Backup-Codes.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  example: "123456"
      responses:
        "200":
          description: 2FA aktiviert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  backupCodes:
                    type: array
                    items:
                      type: string
                    description: Nur in dieser Antwort sichtbar, danach nur noch als Hash gespeichert
        "400":
          description: Ungültiger Code oder kein Setup gestartet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/2fa/reinit:
    post:
      tags:
        - Authentifizierung
      summary: 2FA neu einrichten (Selbstbedienung, z. B. bei Gerätewechsel)
      description: Erfordert das aktuelle Passwort zur Bestätigung, ersetzt danach die alten Backup-Codes.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currentPassword
              properties:
                currentPassword:
                  type: string
                  format: password
      responses:
        "200":
          description: Neues Secret + QR-Code (wie /api/2fa/setup)
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string
                  qrCode:
                    type: string
        "401":
          description: Aktuelles Passwort falsch oder nicht angemeldet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/webauthn/register/options:
    post:
      tags:
        - Authentifizierung
      summary: Passkey-Registrierung starten (Selbstverwaltung)
      description: Erzeugt WebAuthn-Registrierungsoptionen für den eingeloggten Nutzer (navigator.credentials.create()).
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: WebAuthn-Registrierungsoptionen (PublicKeyCredentialCreationOptions)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Fehler beim Erzeugen der Optionen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet

  /api/webauthn/register/verify:
    post:
      tags:
        - Authentifizierung
      summary: Passkey-Registrierung bestätigen
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - response
              properties:
                response:
                  type: object
                  description: Vom Browser erzeugte RegistrationResponseJSON
                  additionalProperties: true
                nickname:
                  type: string
                  description: Anzeigename für den Passkey (z. B. Gerätename), optional
                  example: MacBook Touch ID
      responses:
        "200":
          description: Passkey registriert
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Ungültige Anfrage oder Verifikation fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet

  /api/webauthn/credentials:
    get:
      tags:
        - Authentifizierung
      summary: Eigene Passkeys auflisten
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Liste der registrierten Passkeys
          content:
            application/json:
              schema:
                type: object
                properties:
                  passkeys:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        nickname:
                          type: string
                          nullable: true
                        device_type:
                          type: string
                          nullable: true
                        created_at:
                          type: string
                          format: date-time
        "401":
          description: Nicht angemeldet

  /api/webauthn/credentials/{id}:
    delete:
      tags:
        - Authentifizierung
      summary: Eigenen Passkey löschen
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Passkey gelöscht
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "401":
          description: Nicht angemeldet
        "404":
          description: Nicht gefunden (gehört nicht dem angemeldeten Nutzer)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/change-password:
    post:
      tags:
        - Authentifizierung
      summary: Passwort ändern
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currentPassword
                - newPassword
              properties:
                currentPassword:
                  type: string
                  format: password
                newPassword:
                  type: string
                  format: password
                  minLength: 8
      responses:
        "200":
          description: Passwort erfolgreich geändert
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          description: Aktuelles Passwort falsch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/change-language:
    post:
      tags:
        - Authentifizierung
      summary: Antwortsprache ändern (Selbstbedienung)
      description: |
        Freitext-Eingabe (z. B. "italiano", "auf Englisch bitte") wird per LLM auf ein
        einzelnes deutsches Sprach-Adjektiv normalisiert und in freiki_users.language
        gespeichert. Nicht erkannte Eingaben liefern einen Fehler statt eines Fallbacks.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - language
              properties:
                language:
                  type: string
                  example: englisch
      responses:
        "200":
          description: Sprache geändert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  language:
                    type: string
                    example: englisch
        "400":
          description: Sprache erforderlich oder nicht erkannt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet

  /api/change-enter-to-send:
    post:
      tags:
        - Authentifizierung
      summary: Enter-Sende-Verhalten ändern (Selbstbedienung)
      description: Steuert, ob Enter im Chat-Eingabefeld die Nachricht sofort sendet (true) oder nur einen Zeilenumbruch einfügt (false, dann sendet Shift+Enter bzw. der Senden-Button).
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enterToSend:
                  type: boolean
                  default: true
      responses:
        "200":
          description: Einstellung gespeichert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  enterToSend:
                    type: boolean
        "401":
          description: Nicht angemeldet

  /api/training/complete:
    post:
      tags:
        - Authentifizierung
      summary: Pflichtschulung abschließen
      description: Markiert die Pflichtschulung als abgeschlossen (training_completed=true), nur relevant wenn APP_MANDATORY_TRAINING=true. Ein Admin kann dies über /api/admin/users/{id}/reset-training wieder zurücksetzen.
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Schulung als abgeschlossen markiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "401":
          description: Nicht angemeldet

  /api/training/decline:
    post:
      tags:
        - Authentifizierung
      summary: Pflichtschulung ablehnen (sperrt das eigene Konto)
      description: |
        Nutzer lehnt die Kenntnisnahme am Ende der Pflichtschulung ab -> Konto wird sofort
        gesperrt (training_completed bleibt false, damit die Schulung nach Admin-Entsperrung
        erneut angezeigt wird). Wird immer im Audit-Log protokolliert.
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Konto gesperrt
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "401":
          description: Nicht angemeldet

  /api/news/ack:
    post:
      tags:
        - Authentifizierung
      summary: Breaking-News-Hinweis quittieren
      description: Quittiert die aktuell aktive Breaking-News-Version für den eingeloggten Nutzer (news_ack_version). Die Version wird serverseitig aus der Brand-Config gelesen, nicht vom Client übergeben.
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Quittiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "401":
          description: Nicht angemeldet

  /api/me:
    get:
      tags:
        - Authentifizierung
      summary: Aktueller Benutzer
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Benutzerdaten
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"

  /api/chat:
    post:
      tags:
        - Chat
      summary: Chat-Nachricht senden
      description: |
        Sendet eine Nachricht an die KI und erhält eine Streaming-Antwort.
        Unterstützt verschiedene Modi (z. B. standard, leichte_sprache, zusammenfassen).
        Bis zu 20 Dateien (PDF, DOCX, Bilder, etc.) können mitgesendet werden.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Die Nachricht an die KI
                  example: Was steht im SGB IX über Eingliederungshilfe?
                mode:
                  type: string
                  description: |
                    Modus für die Antwort:
                    - standard: Normale KI-Antwort
                    - leichte_sprache: Vereinfachte Sprache
                    - zusammenfassen: Zusammenfassung langer Texte
                    - uebersetzen: Übersetzung
                    - 3translate: Übersetzung mit 3 Sprachen
                    - web_recherche: Aktuelle Infos aus dem Internet
                    - multidoc: Vergleich mehrerer Dokumente
                  enum:
                    - standard
                    - leichte_sprache
                    - zusammenfassen
                    - uebersetzen
                    - 3translate
                    - web_recherche
                    - multidoc
                  default: standard
                history:
                  type: string
                  description: JSON-String mit vorheriger Chat-Historie
                  example: '[{"role":"user","content":"Hallo"},{"role":"assistant","content":"Hallo!"}]'
                file:
                  type: string
                  format: binary
                  description: Einzelne Datei (PDF, DOCX, Bild, etc.)
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Mehrere Dateien (bis zu 20)
                wissen:
                  type: string
                  description: Wissensbereich für RAG (z. B. stvo für Verkehrsregeln)
                  example: stvo
                targetLang:
                  type: string
                  description: Zielsprache für Übersetzungen
                  example: en
      responses:
        "200":
          description: |
            Streaming-Antwort (Server-Sent Events).
            Der Client muss die Antwort als Stream verarbeiten.
          content:
            text/event-stream:
              schema:
                type: string
                example: |
                  data: {"choices":[{"delta":{"content":"Hallo"}}]}
                  data: {"choices":[{"delta":{"content":"! Wie"}}]}
                  data: [DONE]
        "400":
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Zu viele Anfragen (Rate-Limit 100 pro 15 Min)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/sensitive-categories:
    get:
      tags:
        - Chat
      summary: Kategorien für die Erkennung sensibler Inhalte
      description: |
        Liefert dieselbe Stichwortliste, die auch der Server zur Erkennung nutzt (siehe
        SensitivePatterns.js), damit der Client (Warnung vor dem lokalen Speichern der
        Chat-Historie im Browser bei BGT-Nutzer:innen) dieselbe Erkennung anwenden kann statt
        einer zweiten, potenziell abweichenden Kopie der Liste.
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Kategorien + Regex-Quelltext für ICD-10-Codes
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                  icd10Source:
                    type: string
                    description: Regex-Quelltext (ohne Flags) zur Erkennung von ICD-10-Codes
        "401":
          description: Nicht angemeldet

  /api/modes:
    get:
      tags:
        - Chat
      summary: Verfügbare Chat-Modi
      responses:
        "200":
          description: Liste der Modi
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                      example: leichte_sprache
                    label:
                      type: string
                      example: Leichte Sprache
                    description:
                      type: string
                      example: Vereinfacht komplexe Texte für bessere Verständlichkeit.

  /api/tips:
    get:
      tags:
        - Chat
      summary: Tipps für Nutzer
      responses:
        "200":
          description: Liste der Tipps
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - Sie können Fotos hochladen - FreiKI liest den Text per OCR heraus.
                  - Mit Leichte Sprache können Sie Texte einfach und verständlich aufbereiten lassen.

  /api/kb-areas:
    get:
      tags:
        - Dokumentenanalyse
      summary: Verfügbare Wissensbereiche
      responses:
        "200":
          description: Liste der Wissensbereiche
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                      example: stvo
                    label:
                      type: string
                      example: Verkehrsregeln (StVO) - Demo

  /api/kb-ingest-text:
    post:
      tags:
        - Dokumentenanalyse
      summary: Text in Wissensdatenbank aufnehmen
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
                - area
              properties:
                text:
                  type: string
                area:
                  type: string
                  example: stvo
                metadata:
                  type: object
                  example:
                    source: StVO 2024
                    date: "2024-01-01"
      responses:
        "200":
          description: Text erfolgreich indexiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  id:
                    type: string
        "400":
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/kb-upload:
    post:
      tags:
        - Dokumentenanalyse
      summary: Dokumente in Wissensdatenbank hochladen
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                area:
                  type: string
                  example: stvo
      responses:
        "200":
          description: Dokumente erfolgreich hochgeladen und indexiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        filename:
                          type: string
                        chunks:
                          type: integer
        "400":
          description: Ungültige Dateien
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/paperless/meta:
    get:
      tags:
        - Dokumentenanalyse
        - Integration
      summary: Paperless-ngx Metadaten
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Liste der Dokumente
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 42
                  documents:
                    type: array
                    items:
                      $ref: "#/components/schemas/PaperlessDocument"

  /api/paperless/document/{id}:
    get:
      tags:
        - Dokumentenanalyse
        - Integration
      summary: Paperless-Dokument abrufen
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Dokument-Details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaperlessDocument"
        "404":
          description: Dokument nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/paperless/search:
    post:
      tags:
        - Dokumentenanalyse
        - Integration
      summary: Paperless-Dokumente durchsuchen
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  example: Rechnung 2024
                limit:
                  type: integer
                  default: 10
      responses:
        "200":
          description: Suchergebnisse
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/PaperlessDocument"

  /api/paperless/download/{id}:
    get:
      tags:
        - Dokumentenanalyse
        - Integration
      summary: Paperless-Dokument herunterladen
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: PDF-Datei des Dokuments
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Dokument nicht gefunden

  /api/export-docx:
    post:
      tags:
        - Dokumentenanalyse
      summary: Chat-Antwort als Word-Dokument exportieren
      description: Wandelt Markdown-Text (z. B. eine Chat-Antwort) in eine .docx zum Download um.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                filename:
                  type: string
                  description: Ohne Endung, wird bereinigt/gekürzt (max. 80 Zeichen)
                  example: zusammenfassung
      responses:
        "200":
          description: Word-Dokument
          content:
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                format: binary
        "400":
          description: Kein Text übergeben
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet

  /api/pptx-templates:
    get:
      tags:
        - Dokumentenanalyse
      summary: Verfügbare PPTX-Export-Vorlagen (Dropdown)
      description: Für jeden eingeloggten Nutzer sichtbar (anders als Hochladen/Löschen, siehe /api/admin/pptx-templates) - Liste fest einprogrammierter und per Admin hochgeladener Vorlagen.
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Liste der Vorlagen
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  templates:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          example: generic
                        label:
                          type: string
        "401":
          description: Nicht angemeldet

  /api/export-pptx:
    post:
      tags:
        - Dokumentenanalyse
      summary: Chat-Antwort als PowerPoint-Gliederung exportieren
      description: |
        Wandelt Markdown mit #/##-Überschriften (als Folien) in eine .pptx um. Bis auf
        template="generic" (alter Fallback ohne Branding/Bilder) nutzt jede Vorlage eine echte
        .pptx mit Logo/Layouts. Optional wird ein KI-Titelbild generiert (kostet auf
        DeepInfra-Instanzen echtes Geld pro Export, daher per includeImage abschaltbar).
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                filename:
                  type: string
                  example: gliederung
                includeImage:
                  type: boolean
                  default: true
                template:
                  type: string
                  description: Vorlagen-Key aus GET /api/pptx-templates, oder "generic" für den bildlosen Fallback
                  example: generic
      responses:
        "200":
          description: PowerPoint-Datei
          content:
            application/vnd.openxmlformats-officedocument.presentationml.presentation:
              schema:
                type: string
                format: binary
        "400":
          description: Kein Text übergeben
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet

  /api/kb-documents:
    get:
      tags:
        - Dokumentenanalyse
      summary: Dokumente eines Wissensbereichs auflisten
      description: Admin sieht alle Bereiche, Manager nur die ihm zugewiesenen (manage_areas). Dient dem gezielten Löschen einzelner Dokumente statt "Bereich leeren".
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: bereich
          in: query
          required: true
          schema:
            type: string
          example: stvo
      responses:
        "200":
          description: Liste der Dokumente (source-Namen mit Chunk-Anzahl)
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      type: object
                      properties:
                        source:
                          type: string
                        chunks:
                          type: integer
        "403":
          description: Keine Berechtigung für diesen Bereich
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      tags:
        - Dokumentenanalyse
      summary: Einzelnes Dokument aus der Wissensdatenbank löschen
      description: Löscht alle Chunks mit diesem source-Namen aus dem angegebenen Bereich.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - bereich
                - source
              properties:
                bereich:
                  type: string
                  example: stvo
                source:
                  type: string
      responses:
        "200":
          description: Gelöscht
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: Kein Dokument angegeben
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Keine Berechtigung für diesen Bereich
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/excel-upload:
    post:
      tags:
        - Excel
      summary: Excel-Datei hochladen
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Datei erfolgreich hochgeladen
          content:
            application/json:
              schema:
                type: object
                properties:
                  filename:
                    type: string
                    example: daten.xlsx
                  path:
                    type: string
                    example: /tmp/excel_uploads/daten.xlsx
                  size:
                    type: integer
                    example: 1024
        "400":
          description: Ungültige Datei
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/excel-chat:
    post:
      tags:
        - Excel
      summary: Excel-Datei abfragen
      description: Fragt eine hochgeladene Excel-Datei ab (z. B. Was ist der Durchschnitt von Spalte B?). Nutzt MCP.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - filePath
                - message
              properties:
                filePath:
                  type: string
                  example: /tmp/excel_uploads/daten.xlsx
                message:
                  type: string
                  example: Was ist der Durchschnitt von Spalte B?
                history:
                  type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                        enum:
                          - user
                          - assistant
                      content:
                        type: string
      responses:
        "200":
          description: Antwort der KI
          content:
            application/json:
              schema:
                type: object
                properties:
                  reply:
                    type: string
                    example: Der Durchschnitt von Spalte B beträgt 42.5.
        "400":
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/dictate:
    post:
      tags:
        - Sprachfunktionen
      summary: Kurzdiktat transkribieren (Mikrofon-Button im Eingabefeld)
      description: |
        Anders als /api/transcribe synchron und ohne E-Mail-Versand: die Antwort geht direkt
        zurück und landet zum Nachbessern im Chat-Eingabefeld. Bewusst ohne
        LLM-Absatzformatierung - bei kurzen Diktaten unnötige Zusatzlatenz.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                audio:
                  type: string
                  format: binary
      responses:
        "200":
          description: Erkannter Text
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
        "400":
          description: Keine Audiodaten
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet
        "502":
          description: Spracherkennung nicht verfügbar
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/transcribe:
    post:
      tags:
        - Sprachfunktionen
      summary: Audio-Datei transkribieren
      description: Wandelt eine Audio-Datei (MP3, WAV, etc.) in Text um (via Whisper). Das Ergebnis wird per E-Mail gesendet.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                audio:
                  type: string
                  format: binary
      responses:
        "200":
          description: Transkription gestartet
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Transkription gestartet. Sie erhalten eine E-Mail mit dem Ergebnis.
        "400":
          description: Ungültige Datei
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/tts:
    post:
      tags:
        - Sprachfunktionen
      summary: Text zu Sprache (TTS)
      description: Wandelt Text in Sprache um (via Piper-TTS). Gibt eine Audio-Datei (WAV) zurück.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  example: Hallo, dies ist ein Test.
                voice:
                  type: string
                  default: thorsten
                  example: thorsten
      responses:
        "200":
          description: Audio-Datei
          content:
            audio/wav:
              schema:
                type: string
                format: binary
        "400":
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/forms:
    get:
      tags:
        - Formulare
      summary: Aktive Formularvorlagen auflisten (Formular-Chat)
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Liste der aktiven Vorlagen
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  templates:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                          example: antrag-eingliederungshilfe
                        title:
                          type: string
                        description:
                          type: string
        "401":
          description: Nicht angemeldet

  /api/forms/sessions:
    get:
      tags:
        - Formulare
      summary: Offene (pausierte) Sitzungen auflisten
      description: Zeigt wer welches Formular begonnen hat (Vorlage + Nutzername + letzte Aktivität), damit sich mehrere Nutzer:innen mit derselben Vorlage nicht verwechseln. Enthält bewusst keine Antwortinhalte - die PIN bleibt der einzige Weg, tatsächlich fortzusetzen.
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Liste offener Sitzungen
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  sessions:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                        title:
                          type: string
                        username:
                          type: string
                        updatedAt:
                          type: string
                          format: date-time
        "401":
          description: Nicht angemeldet

  /api/forms/{slug}/pages:
    get:
      tags:
        - Formulare
      summary: Seitenvorschau einer Formularvorlage
      description: Für jeden eingeloggten Nutzer sichtbar (anders als die Admin-Verwaltung unter /api/form-templates/{id}) - jede:r soll die Vorlage anschauen können, bevor der Dialog gestartet wird.
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: antrag-eingliederungshilfe
      responses:
        "200":
          description: Seitenliste mit Bild-URLs
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  pages:
                    type: array
                    items:
                      type: object
                      properties:
                        pageNumber:
                          type: integer
                        url:
                          type: string
        "401":
          description: Nicht angemeldet
        "404":
          description: Formular nicht gefunden oder nicht aktiv
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/forms/{slug}/pages/{pageNumber}/image:
    get:
      tags:
        - Formulare
      summary: Einzelne Formularseite als Bild
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: pageNumber
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: PNG-Bild der Seite
          content:
            image/png:
              schema:
                type: string
                format: binary
        "401":
          description: Nicht angemeldet
        "404":
          description: Formular oder Seite nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/forms/{slug}/start:
    post:
      tags:
        - Formulare
      summary: Formular-Dialog starten
      description: Legt eine neue Sitzung an (inkl. 8-stelliger PIN zum späteren Fortsetzen) und liefert die erste Frage.
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                language:
                  type: string
                  description: Freitext, max. 40 Zeichen; Default Deutsch
                  example: Englisch
      responses:
        "200":
          description: Sitzung gestartet, erste Frage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormSessionState"
        "400":
          description: Formular hat noch keine Felder
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet
        "404":
          description: Formular nicht gefunden oder nicht aktiv
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/forms/resume:
    post:
      tags:
        - Formulare
      summary: Pausierte Sitzung per PIN fortsetzen
      description: Rate-limitiert (10 Versuche/15 Min) gegen Brute-Force der 8-stelligen PIN.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - slug
                - pin
              properties:
                slug:
                  type: string
                pin:
                  type: string
                  example: "12345678"
      responses:
        "200":
          description: Aktueller Sitzungsstand
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormSessionState"
        "400":
          description: Vorlage oder PIN fehlt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet
        "404":
          description: Formular oder Sitzung mit dieser PIN nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Zu viele Versuche (Rate-Limit 10 pro 15 Min)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/forms/{sessionId}/answer:
    post:
      tags:
        - Formulare
      summary: Antwort auf die aktuelle Formularfrage übergeben
      description: |
        Antworten werden bewusst NICHT durch ein LLM geprüft/normalisiert - reale Namen und
        Zahlen sind nicht zuverlässig algorithmisch validierbar. Bei Auswahlgruppen (mehrere
        exklusive Checkboxen) wird statt Freitext der field_key der gewählten Option gesendet.
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Freitext-Antwort, oder field_key bei Auswahlgruppen
                skip:
                  type: boolean
                  description: Frage überspringen (nur bei nicht-Pflichtfeldern erlaubt)
      responses:
        "200":
          description: Nächste Frage, oder done:true wenn alle Felder beantwortet sind
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormSessionState"
        "400":
          description: Ungültige Sitzung, Pflichtfeld kann nicht übersprungen werden, ungültige Auswahl, oder keine Antwort übergeben
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet
        "404":
          description: Sitzung nicht gefunden oder abgelaufen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/forms/{sessionId}/finish:
    post:
      tags:
        - Formulare
      summary: Formular abschließen und als PDF herunterladen
      description: |
        Prüft, ob alle Pflichtfelder (gruppenweise, siehe Auswahlgruppen) beantwortet sind, und
        füllt die Vorlage zu einem PDF aus. Die Sitzung wird NICHT automatisch gelöscht - der
        Download kann fehlschlagen (z. B. Drucker), ohne dass die Sitzung verloren geht. Löschung
        erst nach expliziter Bestätigung über POST /api/forms/{sessionId}/confirm-print.
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Ausgefülltes PDF
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          description: Ungültige Sitzung oder noch nicht alle Pflichtfelder beantwortet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet
        "404":
          description: Sitzung nicht gefunden oder abgelaufen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/forms/{sessionId}/confirm-print:
    post:
      tags:
        - Formulare
      summary: Ausdruck bestätigen (löscht die Sitzung)
      description: Nutzer bestätigt, dass der PDF-Ausdruck geklappt hat - erst dann wird die Sitzung gelöscht (Datenminimierung, aber erst nach erfolgreichem Ausdruck). Verwaiste Sitzungen fängt zusätzlich ein TTL-Purge-Job ab.
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Sitzung gelöscht
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "401":
          description: Nicht angemeldet
        "404":
          description: Sitzung nicht gefunden oder abgelaufen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/form-templates:
    get:
      tags:
        - Formulare
      summary: Formularvorlagen verwalten - Liste
      description: Admin- und Manager-Zugriff (wie /api/kb-upload) - anders als die PPTX-Vorlagen dürfen Manager Formularvorlagen mitpflegen.
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Liste aller Vorlagen (auch inaktive)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  templates:
                    type: array
                    items:
                      $ref: "#/components/schemas/FormTemplate"
        "403":
          description: Nur für Admins und Manager
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      tags:
        - Formulare
      summary: Neue Formularvorlage anlegen (PDF/Bild-Scan hochladen)
      description: Rastert eine hochgeladene PDF-Vorlage seitenweise in PNGs (oder übernimmt ein einzelnes Bild), bevor im nächsten Schritt Felder per PUT /api/form-templates/{id}/fields eingezeichnet werden.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - slug
                - title
              properties:
                file:
                  type: string
                  format: binary
                slug:
                  type: string
                  pattern: '^[a-z][a-z0-9-]{1,49}$'
                  example: antrag-eingliederungshilfe
                title:
                  type: string
                description:
                  type: string
      responses:
        "200":
          description: Vorlage angelegt, Seiten gerastert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  template:
                    $ref: "#/components/schemas/FormTemplate"
                  pages:
                    type: array
                    items:
                      type: object
                      properties:
                        pageNumber:
                          type: integer
                        url:
                          type: string
        "400":
          description: Keine Datei, ungültiger Kurzname oder kein Titel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Nur für Admins und Manager
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Kurzname bereits vergeben
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/form-templates/{id}:
    get:
      tags:
        - Formulare
      summary: Formularvorlage inkl. Seiten und Feldern laden (Editor)
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Vorlage, Seiten und definierte Felder
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  template:
                    $ref: "#/components/schemas/FormTemplate"
                  pages:
                    type: array
                    items:
                      type: object
                      properties:
                        pageNumber:
                          type: integer
                        url:
                          type: string
                  fields:
                    type: array
                    items:
                      $ref: "#/components/schemas/FormField"
        "403":
          description: Nur für Admins und Manager
        "404":
          description: Vorlage nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      tags:
        - Formulare
      summary: Stammdaten einer Formularvorlage ändern
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                active:
                  type: boolean
                  description: Nur aktive Vorlagen erscheinen im Formular-Chat (GET /api/forms)
      responses:
        "200":
          description: Aktualisiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  template:
                    $ref: "#/components/schemas/FormTemplate"
        "403":
          description: Nur für Admins und Manager
        "404":
          description: Vorlage nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      tags:
        - Formulare
      summary: Formularvorlage löschen
      description: Löscht die Vorlage inkl. aller Seitenbilder auf der Festplatte.
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Gelöscht
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "403":
          description: Nur für Admins und Manager
        "404":
          description: Vorlage nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/form-templates/{id}/pages/{pageNumber}/image:
    get:
      tags:
        - Formulare
      summary: Seitenbild einer Formularvorlage (Editor-Ansicht)
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: pageNumber
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: PNG-Bild der Seite
          content:
            image/png:
              schema:
                type: string
                format: binary
        "403":
          description: Nur für Admins und Manager
        "404":
          description: Seite nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/form-templates/{id}/fields:
    put:
      tags:
        - Formulare
      summary: Feld-Definitionen einer Formularvorlage speichern
      description: |
        Ersetzt die komplette Feldliste. Jedes Feld hat relative Koordinaten (0-1) auf einer
        Seite. Unterstützt Auswahlgruppen (mehrere exklusive Checkboxen, z. B. Familienstand -
        müssen im Array direkt aufeinanderfolgen) und bedingte Felder (depends_on_field_key,
        muss auf ein vorheriges Checkbox-Feld zeigen).
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fields
              properties:
                fields:
                  type: array
                  items:
                    $ref: "#/components/schemas/FormField"
      responses:
        "200":
          description: Gespeichert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  fields:
                    type: array
                    items:
                      $ref: "#/components/schemas/FormField"
        "400":
          description: Ungültiges Feld (Name, Typ, Koordinate, Seitenzahl, Gruppe oder Abhängigkeit)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Nur für Admins und Manager
        "404":
          description: Vorlage nicht gefunden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/scanner/analyze:
    post:
      tags:
        - Scanner
      summary: Gescannten QR-/Barcode-Inhalt auf Folgeaktionen prüfen
      description: |
        Ordnet dem Inhalt per LLM mögliche Folgeaktionen zu (Link öffnen, Produkt-Lookup,
        Kontakt speichern, E-Mail, WLAN, Web-Suche). Reine Klassifikation - das Modell schlägt
        nur Buttons vor, die eigentliche Aktion übernimmt fest verdrahteter Code. Ein
        serverseitiges Vokabular filtert Halluzinationen hart heraus.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  maxLength: 2000
                format:
                  type: string
                  description: Erkanntes Barcode-Format (z. B. QR_CODE, EAN_13, CODE_128)
                  maxLength: 40
      responses:
        "200":
          description: Vorgeschlagene Aktionen (max. 3, leer wenn keine passt)
          content:
            application/json:
              schema:
                type: object
                properties:
                  actions:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - open_url
                            - ean_lookup
                            - save_contact
                            - send_email
                            - wifi_info
                            - web_lookup
                        label:
                          type: string
                          nullable: true
        "400":
          description: Kein Text übergeben
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet

  /api/barcode/product:
    get:
      tags:
        - Scanner
      summary: EAN/UPC-Produktsuche
      description: Über die öffentliche Open-Food-Facts-API (kein Key nötig) - deckt primär Lebensmittel/Konsumgüter ab.
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
            pattern: '^\d{6,14}$'
      responses:
        "200":
          description: Produktdaten, oder found:false wenn nicht gefunden
          content:
            application/json:
              schema:
                type: object
                properties:
                  found:
                    type: boolean
                  title:
                    type: string
                    nullable: true
                  brand:
                    type: string
                    nullable: true
                  quantity:
                    type: string
                    nullable: true
                  image:
                    type: string
                    nullable: true
                  allergens:
                    type: string
                    nullable: true
                    description: Deutsch übersetzte EU-Pflichtallergene, kommagetrennt
                  traces:
                    type: string
                    nullable: true
        "400":
          description: Ungültiger Code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet

  /api/barcode/manual:
    get:
      tags:
        - Scanner
      summary: Bedienungsanleitung zu einem Produkt suchen
      description: Websuche (SearXNG, dieselbe Infrastruktur wie der Chat-Modus "Web-Recherche") nach der Bedienungsanleitung eines per EAN gefundenen Produkts. Liefert nur Titel/URL fremder Websites.
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: title
          in: query
          required: true
          schema:
            type: string
            maxLength: 200
        - name: brand
          in: query
          required: false
          schema:
            type: string
            maxLength: 100
      responses:
        "200":
          description: Suchergebnisse (Titel + URL)
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        url:
                          type: string
        "400":
          description: Kein Produktname
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet

  /api/barcode/websearch:
    get:
      tags:
        - Scanner
      summary: Generische Web-Suche zu einem Barcode ohne eigene Lookup-API
      description: Für Formate ohne freie Lookup-API (z. B. PZN/Pharmazentralnummer, ITF-Artikelnummern) - SearXNG-Suche mit formatabhängigem Hinweiswort zur besseren Trefferqualität.
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
            maxLength: 100
        - name: format
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Suchergebnisse (Titel + URL)
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        url:
                          type: string
        "400":
          description: Kein Code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet

  /api/leichte-sprache/symbols:
    post:
      tags:
        - Barrierefreiheit
      summary: Piktogramm-Kandidaten zu einer Leichte-Sprache-Antwort vorschlagen
      description: |
        Nimmt eine bereits fertige Leichte-Sprache-Antwort entgegen (ein Gedanke pro Zeile) und
        liefert pro Zeile mehrere ARASAAC-Piktogramm-Kandidaten statt einer automatischen
        Auswahl - der Nutzer wählt im "+ Symbole"-Wizard selbst aus.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: Mehrzeiliger Leichte-Sprache-Text
      responses:
        "200":
          description: Piktogramm-Kandidaten je Zeile
          content:
            application/json:
              schema:
                type: object
                properties:
                  lines:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                        keyword:
                          type: string
                          nullable: true
                        candidates:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              keyword:
                                type: string
                              url:
                                type: string
                                description: data:-URL (base64-PNG)
        "400":
          description: Kein Text
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet

  /api/leichte-sprache/symbols/pdf:
    post:
      tags:
        - Barrierefreiheit
      summary: Illustrierten Leichte-Sprache-Text als PDF exportieren
      description: Baut aus den im Wizard bestätigten Zeilen (Text + optionales Piktogramm) ein PDF, Icon links neben umgebrochenem Text.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - lines
              properties:
                lines:
                  type: array
                  items:
                    type: object
                    properties:
                      text:
                        type: string
                      imageDataUrl:
                        type: string
                        description: 'data:image/png;base64,... - optional'
      responses:
        "200":
          description: PDF-Datei
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          description: Keine Zeilen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet

  /api/leichte-sprache/symbols/word:
    post:
      tags:
        - Barrierefreiheit
      summary: Illustrierten Leichte-Sprache-Text als Word-Dokument exportieren
      description: Wie POST /api/leichte-sprache/symbols/pdf, nur als .docx.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - lines
              properties:
                lines:
                  type: array
                  items:
                    type: object
                    properties:
                      text:
                        type: string
                      imageDataUrl:
                        type: string
      responses:
        "200":
          description: Word-Dokument
          content:
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                format: binary
        "400":
          description: Keine Zeilen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Nicht angemeldet

  /api/bot-chat:
    post:
      tags:
        - Integration
      summary: Mattermost-Bot-Chat
      description: |
        Wird von n8n/Mattermost aufgerufen. RAG über alle Wissensbereiche.
        Authentifizierung über Header `X-API-Key` (Env `BOT_API_KEY`).
      security:
        - botApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  example: Was steht im SGB IX über Eingliederungshilfe?
                username:
                  type: string
                  description: Anzeigename des Mattermost-Nutzers (für Audit/n8n)
                  example: max.mustermann
      responses:
        "200":
          description: Antwort der KI
          content:
            application/json:
              schema:
                type: object
                properties:
                  answer:
                    type: string
                    example: Im SGB IX § 1 steht...
                  sources:
                    type: array
                    items:
                      type: string
        "400":
          description: Kein message übergeben
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Ungültiger oder fehlender API-Key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/bot/sicherheitslage:
    post:
      tags:
        - Integration
      summary: IT-Sicherheitslage speichern (n8n)
      description: |
        Speichert den von n8n erzeugten HTML-Digest als `sicherheitslage.json`.
        Authentifizierung über Header `X-API-Key` (Env `BOT_API_KEY`).
      security:
        - botApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - html
              properties:
                html:
                  type: string
                  description: Fertig gerenderter HTML-Block für das Frontend.
                date:
                  type: string
                  format: date
                  description: Optional, Default heutiges Datum (YYYY-MM-DD).
      responses:
        "200":
          description: Gespeichert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: html fehlt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Ungültiger oder fehlender API-Key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/mattermost/slash-command:
    post:
      tags:
        - Integration
      summary: Mattermost Slash-Command "/freiki"
      description: |
        Ersetzt den früheren n8n-Webhook-Workflow - Mattermosts commands.url zeigt direkt
        hierher. Mattermost verlangt eine Antwort binnen 3s, daher sofortige Bestätigung
        (ephemeral) + asynchrone Auslieferung der eigentlichen RAG-Antwort über response_url.
      security:
        - mattermostSlashToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
                - text
                - response_url
              properties:
                token:
                  type: string
                  description: Mattermost-Slash-Command-Token (MATTERMOST_SLASH_TOKEN)
                text:
                  type: string
                  example: Was steht im SGB IX über Eingliederungshilfe?
                user_name:
                  type: string
                response_url:
                  type: string
                  format: uri
                  description: Von Mattermost mitgeliefert, für die asynchrone Antwort
      responses:
        "200":
          description: Sofortige (ephemeral) Bestätigung, die eigentliche Antwort folgt per response_url
          content:
            application/json:
              schema:
                type: object
                properties:
                  response_type:
                    type: string
                    example: ephemeral
                  text:
                    type: string
        "403":
          description: Ungültiges Slash-Command-Token

  /api/mattermost/mention:
    post:
      tags:
        - Integration
      summary: Mattermost-Erwähnung "@freiki" in einem Channel
      description: |
        Ersetzt den früheren n8n-Workflow "FreiKI @mention Handler" - Mattermosts Outgoing-
        Webhook-Konfiguration zeigt direkt hierher. Antwort kommt nicht über die Webhook-
        Response, sondern per separatem REST-Aufruf mit dem Bot-Access-Token (MATTERMOST_BOT_TOKEN),
        da die RAG/LLM-Antwort zu lange für die synchrone Webhook-Antwort dauert.
      security:
        - mattermostMentionToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
                - channel_id
              properties:
                token:
                  type: string
                  description: Mattermost-Outgoing-Webhook-Token (MATTERMOST_MENTION_TOKEN)
                text:
                  type: string
                  example: "@freiki Was steht im SGB IX über Eingliederungshilfe?"
                user_name:
                  type: string
                channel_id:
                  type: string
      responses:
        "200":
          description: Sofort leer bestätigt (200, kein Body) - die eigentliche Antwort wird asynchron in den Channel gepostet
        "403":
          description: Ungültiges Token

  /api/hilfe-chat:
    post:
      tags:
        - Chat
      summary: Hilfe-Chat (App-eigene Dokumentation)
      description: |
        RAG-Antwort auf Basis der Hilfe-Wissensbasis (HILFE_KB_TABLE). Öffentlich, ohne Auth -
        beantwortet nur Fragen zur App selbst, nicht zu Kundendaten.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  example: Wie lösche ich meinen Chatverlauf?
      responses:
        "200":
          description: Antwort der KI
          content:
            application/json:
              schema:
                type: object
                properties:
                  answer:
                    type: string
                    example: Der Chatverlauf liegt nur in Ihrem Browser und lässt sich über den Zurücksetzen-Button löschen.
        "400":
          description: Keine Nachricht übermittelt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Hilfe-Wissensbasis nicht konfiguriert (HILFE_KB_TABLE fehlt)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/brand:
    get:
      tags:
        - Verwaltung
      summary: Branding-Konfiguration
      responses:
        "200":
          description: Branding-Daten
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandConfig"

  /admin/config:
    get:
      tags:
        - Verwaltung
      summary: Admin-Konfigurationsseite (HTML)
      description: |
        Liefert die HTML-Seite selbst - bewusst öffentlich erreichbar (ein Browser-GET kann
        keinen Authorization-Header/Cookie-Kontext für "Try it out" liefern), rendert aber
        serverseitig KEINE Konfigurationswerte. Die Seite lädt die echten Werte per JS-Fetch
        von GET /api/admin/brand-config (admin-only) nach.
      responses:
        "200":
          description: HTML-Seite
          content:
            text/html:
              schema:
                type: string
    post:
      tags:
        - Verwaltung
      summary: Branding-Konfiguration aktualisieren
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BrandConfigUpdate"
      responses:
        "200":
          description: Konfiguration aktualisiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "403":
          description: Nur für Administratoren

  /api/admin/brand-config:
    get:
      tags:
        - Verwaltung
      summary: Aktuelle Branding-Konfiguration (Admin, vollständig)
      description: Wie GET /api/brand, aber admin-only und mit allen editierbaren Feldern (Quelle für die /admin/config-Seite).
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Aktuelle Konfiguration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandConfigUpdate"
        "403":
          description: Nur für Administratoren

  /api/admin/breaking-news:
    get:
      tags:
        - Verwaltung
      summary: Aktuellen Breaking-News-Hinweis abrufen
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Aktueller Hinweistext + Version
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                  version:
                    type: integer
                    example: 3
    post:
      tags:
        - Verwaltung
      summary: Breaking-News-Hinweis veröffentlichen
      description: Erhöht die breakingNewsVersion, wodurch das Login-Hinweis-Modal automatisch wieder allen Nutzer:innen angezeigt wird, deren zuletzt quittierte Version dahinter liegt.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
      responses:
        "200":
          description: Veröffentlicht
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: Text erforderlich
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      tags:
        - Verwaltung
      summary: Breaking-News-Hinweis zurückziehen
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Zurückgezogen
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true

  /api/admin/prompts:
    get:
      tags:
        - Verwaltung
      summary: Werkzeug-Prompts auflisten
      description: Liste aller Tool-Prompts (prompts/*.md) mit Kurzmetadaten für den Prompt-Editor.
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Liste der Prompts
          content:
            application/json:
              schema:
                type: object
                properties:
                  hasBase:
                    type: boolean
                    description: Ob eine _base.md (gemeinsamer Grund-Prompt) existiert
                  prompts:
[...]
